
#app {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 100%;
    width: 100%;
}

#editor {
    flex: 1;
    border: none;
    box-shadow: 0px 0px 1px red;
    resize: none;
    align-content: stretch;
    padding: 0.5em;
    outline: none;
}

#table {
    flex: 1;
}