
::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsl(240,80,80)

::-webkit-scrollbar-thumb
  background hsl(185,50,80)
  border-radius 2px

::-webkit-scrollbar-corner
  background hsl(240,80,80)

.cirru-editor-border
  background hsl(240, 80, 80)
  position relative
  overflow scroll
  
  *
    box-sizing border-box
  
  input
    width 1px
    border none
    outline none
    background hsla(0, 0, 0, 0)
    opacity 0
    position absolute
    top 0px

.cirru-editor
  margin 100px 10px 300px
  font-size 15px

  code
    display inline-block
    font-family Monaco, monospace
    max-width 200px
    overflow-x auto
    padding 0px 4px
    white-space nowrap
    position relative
    color hsla(0,0,80,1)

    .space
      background hsla(0,0,90,0.2)

    .selection
      background white
      display inline-block
      min-width 4px
      min-height 14px

      &:empty
        margin 0px -2px
  pre
    box-shadow -1px 0px 0px hsla(0,0,80,0.6)
    margin 6px 0px 4px 16px

    code
      color hsla(0,0,100,1)

    &:hover
      box-shadow -2px 0px 0px hsla(0,0,90,0.6)

    pre.fold
      display inline-block
      box-shadow 0px 1px 0px hsla(0,0,90,0.6)

      &:hover
        box-shadow 0px 2px 0px hsla(0,0,90,0.6)