::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  width: 4px;
  background: #fee7e7;
}
::-webkit-scrollbar-thumb {
  background: #e6b3b3;
  border-radius: 2px;
}
.cirru-editor-border {
  background: #a3a3f5;
  position: relative;
}
.cirru-editor-border * {
  box-sizing: border-box;
}
.cirru-editor-border input {
  width: 1px;
  border: none;
  outline: none;
  background: rgba(0,0,0,0);
  opacity: 0;
  position: absolute;
}
.cirru-editor {
  margin: 100px 10px 300px;
  font-family: Monaco, monospace;
}
.cirru-editor code {
  display: inline-block;
  max-width: 200px;
  overflow-x: auto;
  padding: 0px 4px;
  white-space: nowrap;
  position: relative;
  color: #fff;
}
.cirru-editor code .space {
  background: rgba(230,230,230,0.2);
}
.cirru-editor code .selection {
  background: rgba(255,255,255,0.5);
  display: inline-block;
  min-width: 2px;
  min-height: 10px;
}
.cirru-editor code .selection:empty {
  margin: 0px -1px;
}
.cirru-editor pre {
  box-shadow: -1px 0px 0px rgba(204,204,204,0.4);
  margin: 6px 0px 0px 12px;
}
.cirru-editor pre:hover {
  box-shadow: -2px 0px 0px rgba(230,230,230,0.6);
}
