* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  display: -webkit-flex;
  position: absolute;
  width: 100%;
  height: 100%;
}
body #editor {
  width: 800px;
  height: 400px;
  overflow: scroll;
  margin: 40px;
}
